@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
}

app-root {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  width: 60vw;
  height: 30vh;
  max-width: 500px;
}
