<div id="lap-display">
  <div class="hours">{{ lapDurationOutput.hours }}</div>
  <div class="minutes">{{ lapDurationOutput.minutes }}</div>
  <div class="seconds">{{ lapDurationOutput.seconds }}</div>
  <div class="milliseconds">{{ lapDurationOutput.milliseconds }}</div>
</div>

<div id="display">
  <div class="hours">{{ durationOutput.hours }}</div>
  <div class="minutes">{{ durationOutput.minutes }}</div>
  <div class="seconds">{{ durationOutput.seconds }}</div>
  <div class="milliseconds">{{ durationOutput.milliseconds }}</div>
</div>

<div id="laps">
  <div id="avg">AVG: {{ avgOutput.hours + ":" + avgOutput.minutes + ":" + avgOutput.seconds + ":" + avgOutput.milliseconds }}</div>

  <div *ngFor="let lap of laps; let i = index">
    <div class="lap-number">{{ i + 1 }}</div>
    <div class="lap-time">
      <div id="avg">{{ lap.durationOutput.hours + ":" + lap.durationOutput.minutes + ":" + lap.durationOutput.seconds + ":" + lap.durationOutput.milliseconds }}</div>
    </div>
    <div class="lap-prev" [ngClass]="{'better-result': lap.betterThanPrev, 'worse-result': lap.worseThanPrev}">prev: {{ lap.prevOutput }}</div>
    <div class="lap-avg" [ngClass]="{'better-result': lap.betterThanAvg, 'worse-result': lap.worseThanAvg}">avg: {{ lap.avgOutput }}</div>
  </div>
</div>

<div id="buttons">
  <button id="main-button" (click)="onMainButtonClick()">{{ mainButtonValue }}</button>
  <button id="lap" [disabled]="lapButtonDisabled" (click)="onLapButtonClick()">Lap</button>
  <button id="reset" (click)="onResetButtonClick()">Reset</button>
</div>
