<div id="title">
  <h1>Remind my password</h1>
</div>

<div id="form">
  <div id="user-error">{{ userError }}</div>

  <form #form="ngForm">
    <div class="input-row">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        name="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        [(ngModel)]="user.email"
        #emailInput="ngModel">
      <div class="error" *ngIf="emailInput.errors && emailInput.errors.required && emailInput.touched">Email cannot be empty</div>
      <div class="error" *ngIf="emailInput.errors && emailInput.errors.pattern && emailInput.touched">Email is not valid</div>
    </div>

    <div class="input-row">
      <label for="answer">{{ mathExpression.number1 }} + {{ mathExpression.number2 }} =</label>
      <input
        id="answer"
        type="text"
        name="answer"
        placeholder="first 3 characters"
        required
        pattern="^\d+$"
        [(ngModel)]="user.answer"
        #answerInput="ngModel">
      <div class="error" *ngIf="answerInput.errors && answerInput.errors.required && answerInput.touched">Answer cannot be empty</div>
      <div class="error" *ngIf="answerInput.errors && answerInput.errors.pattern && answerInput.touched">Answer should be an integer</div>
    </div>

    <div id="submit-button">
      <button
        type="submit"
        (click)="remindPassword(form)">
        Remind me
        <!--[disabled]="!form.form.valid"-->
      </button>
    </div>
  </form>

  <div id="output" *ngIf="user.password">
    <div id="email-output">Your email: {{ emailInput.value }}</div>
    <div id="password-output">Your password: {{ user.password }}</div>
  </div>
</div>
