/* general */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

div {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* header */

header {
  display: flex;
  /* z-index was specified so content animation couldn't work through header */
  z-index: 1;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #333;
}

#logo {
  background: url(images/logo.png) center/100px no-repeat;
}

#logo > a {
  display: inline-block;
  width: 100px;
  height: 10vh;
}

#search {
  margin: 0;
}

input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
}

#search-field {
  width: 60px;
  height: 30px;
  color: #f5f5f5;
  background: transparent;
  border-bottom: solid 2px #f5f5f5;
  caret-color: #ffdd13;
  font-size: .8rem;
}

#search-field:focus {
  border-color: #ffdd13;
}

#sbmt-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(images/search.png) center/30px;
}

#header-nav {
  display: none;
  position: absolute;
  right: 60px;
  top: 0;
  width: 100px;
  padding: 20px 0 0 20px;
  background-color: #333;
}

#header-nav > a {
  display: block;
  width: 100px;
  margin-bottom: 20px;
  text-align: left;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
  transition: color 300ms;
}

#header-nav > a:hover {
  color: #ffdd13;
}

#menu-icon {
  width: 50px;
  margin-right: 10px;
}

#menu-icon > div {
  width: 40px;
  height: 4px;
  margin: 0;
  border-radius: 2px;
  background-color: #f5f5f5;
}

/* navmenu on the left */

#leftside-nav {
  z-index: 1;
  width: 18vw;
  height: 85vh;
  position: fixed;
  margin-top: 15vh;
  padding: 10px;
  background-color: #ffdd13;
}

#leftside-nav > a {
  display: block;
  width: 30px;
  margin-bottom: 3vh;
  font-size: 0;
}

#leftside-nav img {
  width: 30px;
}

/* main section */

section {
  position: relative;
  width: 82vw;
  margin-top: 15vh;
  margin-left: 18vw;
  background-color: #ffdd13;
}

#title {
  display: block;
  height: 15vh;
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin: 10px auto auto;
  font-size: 1.2rem;
}

h2 {
  font-size: .9rem;
}

/* content */

@keyframes scalecontent {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#opened-content {
  animation: scalecontent 400ms linear;
  display: none;
  position: absolute;
  left: 20%;
  top: 20%;
  padding: 10px;
  text-align: center;
  background-color: rgba(211, 247, 241, .9);
  font-size: 1rem;
}

#primary-content {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  width: 82vw;
  height: 70vh;
  background: url(images/content-bg-sm.png) center/45vh no-repeat;
}

.content {
  flex-grow: 1;
  min-width: 100px;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(211, 247, 241, .9);
  opacity: 0;
  font-size: 0;
}

.content::before {
  content: 'Did you know? ';
  background-color: #ffdd13;
}

#secondary-content {
  display: table-cell;
  width: calc(82vw - 17px);
  height: 65vh;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 1rem;
}

/* footer */

footer {
  position: relative;
  padding: 20px;
  background-color: #333;
}

/* list columns */

#list-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 80px 60px;
}

.list-column {
  margin-bottom: 20px;
  vertical-align: top;
}

.list-column:nth-child(-n+3) {
  margin-right: 3vw;
}

ul {
  margin: 20px;
  padding: 0;
  list-style: none;
}

li > a {
  color: #f5f5f5;
  font-size: 1rem;
  transition: color 150ms;
}

li > a:hover {
  color: #ffdd13;
}

/* social media links */

#social-media {
  display: inline-block;
  position: absolute;
  left: 40px;
  bottom: 60px;
  margin-left: 18vw;
}

.social-media-icon > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  opacity: .7;
  transition: opacity 300ms;
}

.social-media-icon > a:hover {
  opacity: 1;
}

#facebook-icon {
  background: url(images/social-media/facebook.png) center/20px;
}

#twitter-icon {
  background: url(images/social-media/twitter.png) center/20px;
}

#youtube-icon {
  background: url(images/social-media/youtube.png) center/20px;
}

#copyright {
  position: absolute;
  right: 40px;
  bottom: 20px;
  margin: 0;
  color: #f5f5f5;
  font-size: .8rem;
}



@media screen and (min-width: 320px) {

  /* header */

  #search {
    margin-left: 50px;
  }

  #header-nav {
    width: 120px;
  }

  /* navmenu on the left */

  #leftside-nav {
    padding: 15px;
  }

  /* main section */

  #title {
    position: relative;
  }

  h2 {
    font-size: .8rem;
  }

  /* content */

  #opened-content {
    padding: 20px;
  }

  /* footer */

  footer {
    margin-left: 18vw;
  }

  /* list columns */

  #list-block {
    margin-left: 0;
  }

  li > a {
    font-size: 1.2rem;
  }

  /* social media links */

  #social-media {
    left: 0;
    bottom: 40px;
    margin-left: 20px;
  }

  .social-media-icon > a {
    width: 30px;
    height: 30px;
  }

  #facebook-icon {
    background-size: 30px;
  }

  #twitter-icon {
    background-size: 30px;
  }

  #youtube-icon {
    background-size: 30px;
  }

  #copyright {
    font-size: .6rem;
  }
}



@media screen and (min-width: 768px) {

  /* header */

  #logo {
    background-size: 200px;
  }

  #logo > a {
    width: 200px;
  }

  #search-field {
    width: 200px;
    font-size: 1.2rem;
  }

  #sbmt-btn {
    width: 50px;
    height: 50px;
    background-size: 50px;
  }

  /* navmenu on the left */

  #leftside-nav {
    width: 10vw;
    height: 85vh;
    padding: 40px;
  }

  #leftside-nav > a {
    margin-bottom: 20px;
  }

  #leftside-nav img {
    width: initial;
  }

  /* main section */

  section {
    width: 90vw;
    margin-left: 10vw;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    bottom: 20px;
  }

  h2, #opened-content, #secondary-content {
    font-size: 1.5rem;
  }

  /* footer */

  footer {
    margin-left: 10vw;
  }

  /* list columns */

  #list-block {
    display: block;
    height: auto;
    margin: 0 0 100px 0;
  }

  /* link block on the bottom */

  .social-media-icon > a {
    width: 40px;
    height: 40px;
  }

  #facebook-icon {
    background-size: 40px;
  }

  #twitter-icon {
    background-size: 40px;
  }

  #youtube-icon {
    background-size: 40px;
  }

  #copyright {
    font-size: 1rem;
  }
}



@media screen and (min-width: 1200px) {

  /* header */

  header {
    padding-right: 40px;
  }

  #logo {
    margin-left: 10vw;
  }

  #search {
    margin: 0 20px 0 0;
  }

  #search-field {
    font-size: 1rem;
  }

  #sbmt-btn {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }

  #header-nav {
    display: inline-block;
    position: initial;
    width: initial;
    margin-top: initial;
    padding: initial;
  }

  #header-nav > a {
    display: inline-block;
    margin: initial;
    margin-right: 40px;
    padding: 10px 0;
    text-align: center;
    font-size: initial;
  }

  #menu-icon {
    display: none;
  }

  /* navmenu on the left */

  #leftside-nav > a {
    width: 100px;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    transition: underline 150ms;
  }

  #leftside-nav > a:hover {
    text-decoration: underline;
  }

  /* main section */

  section {
    width: calc(90vw - 17px);
    margin-top: 15vh;
    margin-left: 10vw;
    background-color: #ffdd13;
  }

  h1, h2 {
    position: absolute;
    transform: translateX(-50%);
  }

  h1 {
    left: 40%;
    top: 10%;
    font-size: 2.5rem;
  }

  h2 {
    left: 60%;
    bottom: 10%;
    font-size: 1.3rem;
  }

  /* content */

  #primary-content {
    width: calc(90vw - 17px);
    background: #f5f5f5 url(images/content-bg.jpg) center/calc(90vw - 17px);
  }

  .content {
    width: 300px;
    padding: 40px;
    font-size: 1rem;
  }

  .content:hover {
    animation: scalecontent 400ms linear;
    opacity: 1;
  }

  #secondary-content {
    width: calc(90vw - 17px);
    padding: 0 200px;
  }

  @keyframes scalecontent {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.3);
      opacity: .7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* footer */

  footer {
    z-index: 1;
    height: 20vh;
    padding: 40px;
  }

  /* list columns */

  #list-block {
    display: initial;
    margin: initial;
    margin-left: 100px;
  }

  ul {
    margin: 0;
  }

  li > a {
    font-size: .8rem;
  }

  /* social media links */

  #social-media {
    position: initial;
    float: right;
    text-align: right;
  }

  #copyright {
    font-size: .8rem;
  }
}