<div id="title">
  <h1>{{ title }}</h1>
</div>

<div id="form">
  <div id="user-error">{{ userError }}</div>

  <form #form="ngForm">
    <div class="input-row">
      <label for="first-name">First name:</label>
      <input
        id="first-name"
        type="text"
        name="firstName"
        required
        minlength="2"
        [(ngModel)]="user.firstName"
        #firstNameInput="ngModel">
      <div class="error" *ngIf="firstNameInput.errors && firstNameInput.errors.required && firstNameInput.touched">First name cannot be empty</div>
      <div class="error" *ngIf="firstNameInput.errors && firstNameInput.errors.minlength && firstNameInput.touched">First name should contain at least 2 characters</div>
    </div>

    <div class="input-row">
      <label for="last-name">Last name:</label>
      <input
        id="last-name"
        type="text"
        name="lastName"
        required
        minlength="2"
        [(ngModel)]="user.lastName"
        #lastNameInput="ngModel">
      <div class="error" *ngIf="lastNameInput.errors && lastNameInput.errors.required && lastNameInput.touched">Last name cannot be empty</div>
      <div class="error" *ngIf="lastNameInput.errors && lastNameInput.errors.minlength && lastNameInput.touched">Last name should contain at least 2 characters</div>
    </div>

    <div class="input-row">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        name="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        [(ngModel)]="user.email"
        #emailInput="ngModel">
      <div class="error" *ngIf="emailInput.errors && emailInput.errors.required && emailInput.touched">Email cannot be empty</div>
      <div class="error" *ngIf="emailInput.errors && emailInput.errors.pattern && emailInput.touched">Email is not valid</div>
    </div>

    <div class="input-row">
      <label for="birth-year">Birth year:</label>
      <input
        id="birth-year"
        type="number"
        name="birthYear"
        required
        [(ngModel)]="user.birthYear"
        pattern="^\d{4}$"
        #birthYearInput="ngModel">
      <div class="error" *ngIf="birthYearInput.errors && birthYearInput.errors.required && birthYearInput.touched">Birth year cannot be empty</div>
      <div class="error" *ngIf="birthYearInput.errors && birthYearInput.errors.pattern && birthYearInput.touched">Birth year is not valid</div>
    </div>

    <div class="input-row">
      <label for="password">Password:</label>
      <input
        id="password"
        type="password"
        name="password"
        required
        minlength="3"
        [(ngModel)]="user.password"
        #passwordInput="ngModel">
      <div class="error" *ngIf="passwordInput.errors && passwordInput.errors.required && passwordInput.touched">Password cannot be empty</div>
      <div class="error" *ngIf="passwordInput.errors && passwordInput.errors.minlength && passwordInput.touched">Password should contain at least 3 characters</div>
    </div>

    <div id="submit-button">
      <button
        type="button"
        (click)="methodOnSubmit(form)"
        [disabled]="!form.form.valid">
        {{ buttonName }}
      </button>
    </div>
  </form>
</div>
